<nav class="navbar navbar-expand-lg navbar-light bg-dark">
    <div class="container-fluid">
        <h1 class="homeTittle">
            <a href="/" class="navButton"> Recip</a>Now!
        </h1>

        <div class="collapse navbar-collapse d-flex justify-content-end" id="navbarNavAltMarkup">
            <div class="navbar-nav">


                {{!-- <a href="/profile">
                    <img alt="profilepic" src="/assets/pictures/avatar-gratuit.png" width="75" height="50">
                </a> --}}
                <a href="/profile"><button class=" m-2 btn btn-outline-dark navButton">Create/Edit Recipe</button></a>
                <a href="/logout"><button class=" m-2 btn btn-outline-dark navButton">Log Out</button></a>

            </div>
        </div>
    </div>
</nav>
<!-- jumbotron -->

<div class="jumbotron jumbotron-fluid mb-5 d-flex justify-content-center jumbotron-billboard">
  <div class="input-group  w-50 ">
    <input class="form-control form-control-lg rounded-start" type="text" placeholder="Search Recipe Here"
      id="search-result">
    <button class="btn btn-success rounded-end " type="button" id="searchButton">Search</button>
  </div>
</div>

{{!-- Search Results --}}

{{#each results}}
<div class="wrapper center-block">

    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="heading{{id}}">
                <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion"
                        href="#collapse{{id}}" aria-expanded="false" aria-controls="collapse{{id}}">
                        <h1>{{this.name}}</h1>
                    </a>
                </h4>
            </div>

            <div id="collapse{{id}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading{{id}}">
                <div class="row">
                    <div class="card card-body" style="background-color: rgb(0, 0, 0);">
                        <h5>ingredients</h5>
                        <p>
                            {{this.ingredient}}
                        </p>
                    </div>
                    <div class="card card-body" style="background-color: rgb(0, 0, 0);">
                        <h5>Directions</h5>
                        <p>
                            {{this.instruction}}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{/each}}



<!-- footer -->

<footer>
    <hr style="width:50%", size="3", color=white>
  <p style="color: rgb(0, 255, 55); font-size: 15px; text-align: center;">“I cook with wine. Sometimes I even add it to the food.” – W.C. Fields </p>
  <p style="color: rgb(0, 255, 55); font-size: 15px; text-align: center;">“Made by Group Two" </p>
</footer>