<nav class="navbar navbar-expand-lg navbar-light bg-dark">
  <div class="container-fluid">
    <p class="navbar-brand">
    <h1 class="homeTittle">
      <a href="" class="navButton"> Recip</a>Now!
    </h1>
    </p>


    <div class="collapse navbar-collapse d-flex justify-content-end" id="navbarNavAltMarkup">
      <div class="navbar-nav">

        <button type="button" class="m-2 btn btn-outline-dark navButton " data-toggle="modal"
          data-target="#staticBackdrop">
          Sign Up
        </button>

        <div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1"
          aria-labelledby="staticBackdropLabel" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title navButton" id="staticBackdropLabel">Create Your Account</h1>
                <button type="button" class="close closeButton" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">

                <form class="signup" action="/signup" method="post">
                  <div class="form-group">
                    <label for="type">User Name:</label>
                    <input type="type" class="form-control" id="userName" name="username" aria-describedby="username"
                      placeholder="User Name" required>
                  </div>

                  <div class="form-group">
                    <label for="type">First Name:</label>
                    <input type="type" class="form-control" id="firstName" name="firstName" aria-describedby="firstName"
                      placeholder="First Name" required>
                  </div>

                  <div class="form-group">
                    <label for="type">Last Name:</label>
                    <input type="type" class="form-control" id="lastName" name="lastName" aria-describedby="lastName"
                      placeholder="Last Name" required>
                  </div>

                  <div>
                    <div class="form-group">
                      <label for="exampleInputEmail1">Email Address:</label>
                      <input type="email" class="form-control" id="signupInputEmail email-input" name="email"
                        aria-describedby="emailHelp" placeholder="Email Address" required>
                      <small id="emailHelp" class="form-text text-muted"></small>
                    </div>
                  </div>

                  <div class="form-group">
                    <label for="">Password:</label>
                    <input type="password" placeholder="Password" id="signupPassword password-input" name="password"
                      class="form-control" required>
                    <label for="">Re-type Password:</label>
                    <input type="password" placeholder="Confirm Password" id="confirm_password password-input"
                      class="form-control" required>
                  </div>

                  <div class="form-group">
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required>
                      <label class="form-check-label" for="invalidCheck">
                        Agree to the
                        <a href="" class="navButton">Terms of Service</a>

                      </label>
                      <div class="invalid-feedback">
                        You must agree before submitting.
                      </div>
                    </div>
                  </div>
                  <button type="submit" class="btn btn-success pure-button pure-button-primary btn-lg btn-block ">Sign
                    Up</button>
                </form>
              </div>
            </div>
          </div>
        </div>

        <button type="button" class="m-2 btn btn-outline-dark navButton" data-toggle="modal"
          data-target="#exampleModal">
          Log In
        </button>

        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title navButton" id="exampleModalLabel">Log In</h1>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">

                <form class="login" action="/login" method="post">
                  <div class="form-group">
                    <label for="exampleInputEmail1">Email Address:</label>
                    <input type="email" name="email" class="form-control" id="loginInputEmail email-input"
                      placeholder="Email Address" aria-describedby="emailHelp" required>
                    <small id="emailHelp" class="form-text text-muted"></small>
                  </div>
                  <div class="form-group">
                    <label for="exampleInputPassword1">Password:</label>
                    <input type="password" name="password" placeholder="Password" id="loginPassword password-input"
                      class="form-control" required>
                  </div>

                  <div style="display: none" id="alert" class="alert alert-danger" role="alert">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    <span class="sr-only">Error:</span> <span class="msg"></span>
                  </div>
                  <button type="submit" class="btn btn-success pure-button pure-button-primary btn-lg btn-block "
                    id="loginForm">Log
                    In</button>





                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>

<!-- jumbotron -->

<div class="jumbotron jumbotron-fluid mb-5 d-flex justify-content-center jumbotron-billboard">
  <div class="input-group  w-50 ">
    <input class="form-control form-control-lg rounded-start" type="text" placeholder="Search Recipe Here"
      id="search-result">
    <button class="btn btn-success rounded-end " type="button" id="searchButton">Search</button>
  </div>
</div>

{{#each results}}
<div class="wrapper center-block">

  <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="heading{{id}}">
        <h4 class="panel-title">
          <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse{{id}}"
            aria-expanded="false" aria-controls="collapse{{id}}">
            <h1>{{this.name}}</h1>
          </a>
        </h4>
      </div>

      <div id="collapse{{id}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading{{id}}">
        <div class="row">
          <div class="card card-body" style="background-color: rgb(212, 212, 212);">
            <h5>ingredients</h5>
            <p>
              {{this.ingredient}}
            </p>
          </div>
          <div class="card card-body" style="background-color: rgb(212, 212, 212);">
            <h5>Directions</h5>
            <p>
              {{this.instruction}}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{{/each}}

<!-- footer -->

<footer class="page-footer font-small blue d-flex justify-content-center">
  <div class="footerBottom py-3">
    <p class="footerColor"> Made by Group Two</p>
</footer>